* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(70deg, rgb(11, 4, 42), rgba(59, 2, 85, 0.971));
}

.App {
  text-align: center;
  margin-top: 5%;
}

.search {
  margin-bottom: 2rem;
}

.search input {
  padding: 1.1rem 3rem 1.1rem 1rem;
  margin-right: 1rem;
  border: none;
  outline: none;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
}

.search input:focus {
  box-shadow: inset 0 0.4rem 0.8rem rgba(165, 21, 248, 0.5);
}
.search button {
  padding: 0.9rem 2.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

.card {
  margin: 0 auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  width: 35rem;
  background-color: rgba(0, 0, 0, 0.476);
  color: #fff;
  border-radius: 9px;
  overflow: hidden;
  text-align: start;
}

.card img {
  width: 100%;
  margin-bottom: 1.2rem;
}
.card-text {
  padding: 1.2rem 1.6rem;
  line-height: 1.6;
}

.card h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

.card h3 span {
  font-size: 2rem;
}
